.login{
    background-color: white;
    position: absolute;
    top: 8vw;
    border-radius: 2vw;
    box-shadow: 0 2px 4px 0 rgba(185, 185, 185, 0.5);
   }
   .login_content{   
    background: linear-gradient(270deg, var(--color5), var(--color6));
    height: 400px;
   }