<div class="row d-flex justify-content-center login_content">
    <div class="col-lg-4 p-0 login">
        <div class="card">
            <div class="card-body">
                <h2 class="text-center pt-5 pb-5">Login To Employee Portal</h2>
                <div class="login_form d-flex justify-content-center">
                    <form class="form col-12" role="form">
                        <div class="form-group">
                            <label for="uname1">Username</label>
                            <input type="text" class="form-control form-control-md" name="uname1" id="uname1"
                                required="">
                            <div class="invalid-feedback">Oops, you missed this one.</div>
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" class="form-control form-control-md" id="pwd1" required=""
                                autocomplete="new-password">
                            <div class="invalid-feedback">Enter your password too!</div>
                        </div>
                        <div class="form-group py-4 text-center">
                            <button type="submit" class="btn btn-primary btn-md  w-50" id="btnLogin"
                                (click)="login()">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>