/* You can add global styles to this file, and also import other style files */
:root {    
    --color1:#555cc8;
     --color2:white;
     --color3:black;
     --color4:#1010102e;
     --color5:#7A3EC8;
     --color6:#297FC8;;
     --color7:#07c5a0;
   }
   .nav-link{
    text-align: center;
    position: relative;
    padding:17px 28px;
}
.nav-item.active .nav-link .fa{
    color:var(--color7);
}

.dropdown{
    .dropdown-toggle:after{
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 0;
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f107";
    width: auto;
    height: auto;
    vertical-align: middle;
    line-height: .625rem;
    font-size: 1.25rem;
    margin-left: 0;
    }
}

.navbar{
    background: linear-gradient(230deg, var(--color5), var(--color6));
    color:var(--color2);
    padding:0rem 1rem;
}
.table .thead{
    border-bottom: 1px solid var(--color1);
  }
.table .thead .td{
   text-align: center;
    padding: 0.5rem;
    font-weight: bold;
    color:var(--color6);
}
.table .tr .td{
    padding:0.5rem;
    text-align: center;
}
.table .tr:nth-child(odd){
    background-color: white;
}
.table .tr:nth-child(even){
background-color: #f1efef91;
}