<nav class="navbar top-navbar navbar-expand-lg ">
    <a class="navbar-brand" href="#">Employee Portal</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-user mr-3"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right p-0" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" data-toggle="modal" data-target="#loginModal"><i
                            class="fa fa-sign-in mr-2"></i>Log Out</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card mt-2">
                <div class="card-header">
                    <h5 class="title text-center">Employee Details</h5>
                </div>
                <div class="card-body ">
                    <div class="table p-2 d-sm-none d-md-block">
                        <div class="row th">
                            <div class="col-1 td">
                                ID
                            </div>
                            <div class="col-3 td">
                                First Name
                            </div>
                            <div class="col-3 td">
                                Last Name
                            </div>
                            <div class="col-1 td">
                                Salary
                            </div>
                            <div class="col-2 td">
                                Joining Date
                            </div>
                            <div class="col-2 td">
                                Department
                            </div>
                        </div>
                        <div class="row tr">
                            <div class="col-1 td">
                                1001
                            </div>
                            <div class="col-3 td">
                                First Name
                            </div>
                            <div class="col-3 td">
                                Last Name
                            </div>
                            <div class="col-1 td">
                                154872
                            </div>
                            <div class="col-2 td">
                                20-10-789
                            </div>
                            <div class="col-2 td">
                                IT
                            </div>
                        </div>
                        <div class="row tr">
                            <div class="col-1 td">
                                1001
                            </div>
                            <div class="col-3 td">
                                First Name
                            </div>
                            <div class="col-3 td">
                                Last Name
                            </div>
                            <div class="col-1 td">
                                154872
                            </div>
                            <div class="col-2 td">
                                20-10-789
                            </div>
                            <div class="col-2 td">
                                IT
                            </div>
                        </div>
                    </div>
                    <div class="row d-none d-sm-block d-md-none">
                        <div class="col-sm-12">
                            <ul class="list-group border">
                                <li class="list-group-item"><label class="text-muted">Employee Id : </label><span>1001</span></li>
                                <li class="list-group-item"><label class="text-muted">First Name : </label><span>Ram</span></li>
                                <li class="list-group-item"><label class="text-muted">Last Name : </label><span>Laxman</span></li>
                                <li class="list-group-item"><label class="text-muted">Salary : </label><span>1001</span></li>
                                <li class="list-group-item"><label class="text-muted">Joining Date : </label><span>21-10-2015</span></li>
                                <li class="list-group-item"><label class="text-muted">Department : </label><span>IT</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>